@import "base";

$content-max-width: 960px;
$content-max-margin: 50px;
$paper-max-width: $content-max-width + $content-max-margin * 2;
$paper-top-margin: 100px;

// Breakpoints

// This is where the two column layout starts
$breakpoint-medium: 800px;

// This is where the background appears
$breakpoint-full: $paper-max-width;


@mixin breakpoint-medium {
	@media screen and (min-width: $breakpoint-medium) {
		@content;
	}
}

@mixin breakpoint-full {
	@media screen and (min-width: $breakpoint-full) {
		@content;
	}
}

body {
	background-color: $blackish;
	font-family: $open-sans;
}

a {
	color: inherit;
	text-decoration: none;
	&:hover, &:focus {
		text-decoration: underline;
	}
}

p {
	margin-bottom: 20px;
	font-size: 13px;
	line-height: 21px;
}

h1 {
	font-weight: 300;
}

#paper {
	background-color: $whiteish;
	width: 100%;
	margin: {
		left: auto;
		right: auto;
	};
	@include breakpoint-full {
		margin-top: $paper-top-margin;
		width: $paper-max-width;
	}
}

#content {
	width: 90%;
	margin: {
		left: auto;
		right: auto;
	};
	border-top: 10px solid $green;
}

header, section, footer {
	clear: both;
	width: 100%;
}

header {
	float: left;
	text-align: center;
	padding: {
		top: 70px;
		bottom: 70px;
	};
	@include breakpoint-medium {
		text-align: left;
	}
}

section {
	float: left;
	padding: {
		top: 70px;
		bottom: 70px;
	};
	border-top: {
		style: solid;
		width: 1px;
		color: $light-gray;
	};
	h1 {
		margin: {
			bottom: 40px;
		}
		font-size: 24px;
		color: $gray;
		@include breakpoint-medium {
			float: left;
			width: 30%;
		}
	}
	h2 {
		font-size: 18px;
		line-height: 34px;
		font-weight: 700;
		color: $blackish;
	}
	h3 {
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 30px;
		font-weight: 300;
		color: $blackish;
	}
}

footer {
	background-color: $gray;
	padding: 5px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
	color: $whiteish;
}

.hidden-small {
	display: none;
	@include breakpoint-medium {
		display: inline;
	}
}

.section-content {
	@include breakpoint-medium {
		width: 70%;
		float: left;
	}
}

p.context {
	padding: {
		top: 12px;
		bottom: 12px;
		left: 20px;
		right: 20px;
	};
	background-color: $green;
	color: $whiteish;
	text-transform: uppercase;
	@include breakpoint-medium {
		float: right;
	}
}

#photo {
	width: 140px;
	height: auto;
	border: {
		style: solid;
		width: 5px;
		color: white;
	};
	outline: {
		style: solid;
		width: 1px;
		color: $light-gray;
	};
	@include breakpoint-medium {
		float: left
	}
}

#name-profession {
	@include breakpoint-medium {
		float: left;
		margin-left: 20px;
	}
}

#name {
	margin-top: 65px;
	font-size: 48px;
	@include breakpoint-medium {
		margin-top: 70px;
	}
}

#profession {
	font-size: 24px;
	margin: {
		top: 10px;
		bottom: 0;
		left: 0;
		right: 0;
	};
	font-weight: 300;
	text-transform: uppercase;
	@include breakpoint-medium {
		margin-top: 10px;
	}
}

#contact {
	text-align: left;
	margin-top: 65px;
	font-size: 13px;
	line-height: 18px;
	@include breakpoint-medium {
		float: right;
		margin-top: 0;
		text-align: right;
	}
}
