@import "base";

$content-max-width: 960px;
$content-max-margin: 50px;
$paper-max-width: $content-max-width + $content-max-margin * 2;
$paper-vertical-margin: 100px;

// Breakpoints

// This is where the two column layout starts
$breakpoint-medium: 750px;

$breakpoint-small: 500px;

// This is where the background appears
$breakpoint-full: $paper-max-width;

@mixin breakpoint-small {
	@media print, screen and (min-width: $breakpoint-small) {
		@content;
	}
}

@mixin breakpoint-medium {
	@media print, screen and (min-width: $breakpoint-medium) {
		@content;
	}
}

@mixin breakpoint-full {
	@media screen and (min-width: $breakpoint-full) {
		@content;
	}
}

body {
	background-color: $whiteish;
	font-family: $open-sans;
	overflow-x: hidden;
	@include breakpoint-full {
		background-color: $blackish;
	}
}

a {
	color: inherit;
	text-decoration: none;
	&:hover, &:focus {
		text-decoration: underline;
	}
}

p {
	margin-bottom: 20px;
	font-size: 13px;
	line-height: 21px;
}

h1 {
	font-weight: 300;
}

#paper {
	background-color: $whiteish;
	width: 100%;
	margin: {
		left: auto;
		right: auto;
	};
	@include breakpoint-full {
		width: $paper-max-width;
		margin: {
			top: $paper-vertical-margin;
			bottom: $paper-vertical-margin;
		};
	}
}

#content {
	@include clearfix;
	width: 90%;
	margin: {
		left: auto;
		right: auto;
	};
}

header, section {
	float: left;
	width: 100%;
	page-break-inside: avoid;
}

header {
	margin: {
		top: 25px;
		bottom: 50px;
	};
	@include breakpoint-small {
		position: relative;
		min-height: 280px;
		margin: {
			top: 45px;
			bottom: 45px;
		};
	}
	@include breakpoint-medium {
		min-height: 210px;
		margin: {
			top: 70px;
			bottom: 70px;
		};
	}
}

section {
	padding: {
		top: 35px;
		bottom: 35px;
	};
	border-top: {
		style: solid;
		width: 1px;
		color: $light-gray;
	};
	h1 {
		margin-bottom: 30px;
		font-size: 24px;
		color: $gray;
		@include breakpoint-medium {
			margin-bottom: 50px;
			float: left;
			width: 29%;
		}
	}
	h2 {
		margin-bottom: 5px;
		font-size: 18px;
		font-weight: 700;
		color: $blackish;
	}
	h3 {
		margin-bottom: 20px;
		font-size: 16px;
		font-weight: 300;
		color: $blackish;
	}
	.section-content {
		@include breakpoint-medium {
			width: 69%;
			float: right;
		}
	}
	.context {
		text-align: right;
		margin-bottom: 10px;
		padding: {
			top: 8px;
			bottom: 8px;
			left: 15px;
			right: 15px;
		};
		background-color: $green;
		color: $whiteish;
		text-transform: uppercase;
		@include breakpoint-medium {
			margin-left: 10px;
			float: right;
		}
	}
}

#contact {
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 25px;
	@include breakpoint-small {
		position: absolute;
		top: 0;
		right: 0;
		text-align: right;
	}
}

#photo {
	height: 200px;
	width: auto;
	margin: {
		left: 1px; // outline
		bottom: 15px
	};
	border: {
		style: solid;
		width: 5px;
		color: white;
	};
	outline: {
		style: solid;
		width: 1px;
		color: $light-gray;
	};
	@include breakpoint-small {
		position: absolute;
		top: 0;
		left: 0;
	}
}

#name-profession {
	@include breakpoint-small {
		position: absolute;
		bottom: 0;
		left: 0;
	}
	@include breakpoint-medium {
		left: 240px;
	}
}

#name {
	font-size: 36px;
	@include breakpoint-medium {
		font-size: 48px;
	}
}

#profession {
	color: $green;
	margin: 0;
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
	@include breakpoint-medium {
		font-size: 24px;
	}
}