@import "base";

// Breakpoints
$medium-breakpoint: 430px;
$large-breakpoint: 900px;
$huge-breakpoint: 1200px;
$section-centering-width: 960px;

/* ==========================================================================
   Mixins
   ========================================================================== */

@mixin breakpoint-medium {
	@media screen and (min-width: $medium-breakpoint) {
		@content;
	}
}

@mixin breakpoint-large {
	@media screen and (min-width: $large-breakpoint) {
		@content;
	}
}

@mixin breakpoint-huge {
	@media screen and (min-width: $huge-breakpoint) {
		@content;
	}
}

@mixin hover-expand-brackets($before: "[", $after: "]", $amount: 10px) {
	&::before, &::after {
		display: inline-block;
		opacity: 0;
		@include transition(transform 0.3s, opacity 0.2s);
	}
	&::before {
		margin-right: $amount;
		content: $before;
		@include translateX($amount * 2);
	}
	&::after {
		margin-left: $amount;
		content: $after;
		@include translateX(-$amount * 2);
	}
	&:hover::before,
	&:hover::after,
	&:focus::before,
	&:focus::after {
		opacity: 1;
		@include translateX(0px);
	}
}

/* ==========================================================================
   Classes
   ========================================================================== */

.center {
	margin: {
		left: auto;
		right: auto;
	};
}

.button {
	display: inline-block;
	margin: {
		left: 10px;
		right: 10px;
	};
	padding: 5px;
	border: {
		style: solid;
		width: 3px;
		color: $whiteish;
	};
	&:hover, &:focus {
		text-decoration: none;
	}
	@include transition(all, 0.3s);
}

/* ==========================================================================
   Layout
   ========================================================================== */
html {
	p, h1, h2, h3, h4, h5 {
		line-height: 130%;
		margin: {
			top: 0.5em;
			bottom: 0.5em;
		};
	}
	a {
		color: inherit;
	}
	$base-font-size: 100%;
	font: {
		family: $open-sans;
		size: $base-font-size;
	};
	@include breakpoint-medium {
		font-size: $base-font-size * 1.2;
	}

	@include breakpoint-large {
		font-size: $base-font-size * 1.4;
	}

	#browsehappy {
		margin: 0.2em 0;
		background: #ccc;
		color: #000;
		padding: 0.2em 0;
	}
	header {
		$header-foreground-color: $light-font-color;
		z-index: 10;
		background-color: $black-see-through;
		$header-ver-padding: 24px;
		position: absolute;
		width: 100%;
		padding: {
			top: $header-ver-padding;
			bottom: $header-ver-padding;
		};
		@include breakpoint-medium {
			position: fixed;
		}

		@include breakpoint-large {
			$header-hor-padding: 5%;
			width: 100% - $header-hor-padding * 2;
			padding: {
				left: $header-hor-padding;
				right: $header-hor-padding;
			};
		}

		#header-centering {
			@extend .center;
			@include clearfix;
			width: 100%;
			max-width: $huge-breakpoint;
		}
		h1 {
			margin: inherit;
			color: $header-foreground-color;
			line-height: inherit;
			font: {
				family: $source-sans-pro;
				weight: bold;
				size: 28px;
			};
			text-align: center;
			@include breakpoint-medium {
				font-size: 38px;
			}

			@include breakpoint-large {
				float: left;
			}
		}
		nav {
			text-align: center;
			margin-top: 10px;
			@include breakpoint-large {
				float: right;
				margin-top: 2px;
			}

			li {
				@include breakpoint-medium {
					display: inline-block;
				}
			}
			a {
				display: block;
				color: $header-foreground-color * 0.7;
				padding: 7px 0 7px 0;
				text-decoration: none;
				font: {
					family: $source-sans-pro;
					size: 20px;
				};
				@include breakpoint-medium {
					font-size: 22px;
					@include transition(color 0.2s linear);
					&.active {
						color: $header-foreground-color * 1.2;
					}
				}

				@include hover-expand-brackets("[", "]");
			}
		}
	}
	section {
		$section-vertical-padding-small: 100px;
		$section-vertical-padding-first-small: 250px;
		$section-vertical-padding-medium: 150px;
		$section-vertical-padding-first-medium: 200px;
		$section-vertical-padding-large: 200px;
		$section-vertical-padding-first-large: 250px;
		text-align: center;
		padding: {
			top: $section-vertical-padding-small;
			bottom: $section-vertical-padding-small;
		};
		&:first-of-type {
			padding-top: $section-vertical-padding-first-small;
		}
		@include breakpoint-medium {
			padding: {
				top: $section-vertical-padding-medium;
				bottom: $section-vertical-padding-medium;
			};
			&:first-of-type {
				padding-top: $section-vertical-padding-first-medium;
			}
		}

		@include breakpoint-large {
			padding: {
				top: $section-vertical-padding-large;
				bottom: $section-vertical-padding-large;
			};
			&:first-of-type {
				padding-top: $section-vertical-padding-first-large;
			}
		}

		h1 {
			font: {
				family: "Source Sans Pro", sans-serif;
				weight: 200;
				size: 2.5em;
			};
			@include breakpoint-medium {
				font-size: 3em;
			}

			@include breakpoint-large {
				font-size: 3.5em;
			}
		}
		a {
			text-decoration: none;
			&:hover, &:focus {
				text-decoration: underline;
			}
			@include transition(color 0.3s);
		}
		.section-centering {
			@extend .center;
			width: $section-centering-width;
			max-width: 90%;
		}
		&#home {
			padding-bottom: 0;
			background: {
				image: url(../img/index-bg.jpg);
				repeat: no-repeat;
				position-x: center;
				position-y: bottom;
			};
			@include background-size(cover);
			color: $light-font-color;
			text-shadow: 1px 1px 2px black;
			h1 {
				font-size: 3em;
				@include breakpoint-medium {
					font-size: 3.5em;
				}

				@include breakpoint-large {
					font-size: 4em;
				}
			}
			#photo {
				$home-picture-size-default: 100px;
				$home-picture-top-margin-default: 25px;
				$border-width: 7px;
				margin-bottom: -($home-picture-size-default / 2) - $border-width;
				margin-top: 50px;
				width: $home-picture-size-default;
				height: $home-picture-size-default;
				@include border-radius($home-picture-size-default / 2 + $border-width);
				border-width: $border-width;
				border-style: solid;
				border-color: $whiteish;
				@include breakpoint-medium {
					$home-picture-size-medium: $home-picture-size-default * 1.5;
					margin-top: 100px;
					margin-bottom: -($home-picture-size-medium / 2) - $border-width;
					width: $home-picture-size-medium;
					height: $home-picture-size-medium;
					@include border-radius($home-picture-size-medium / 2 + $border-width);
				}

				@include breakpoint-large {
					$home-picture-size-large: $home-picture-size-default * 2;
					margin-top: 200px;
					margin-bottom: -($home-picture-size-large / 2) - $border-width;
					width: $home-picture-size-large;
					height: $home-picture-size-large;
					@include border-radius($home-picture-size-large / 2 + $border-width);
				}
			}
		}
		&#coding {
			background-color: $whiteish;
			color: $dark-font-color;
			#languages {
				@extend .center;
				a {
					img {
						height: auto;
						width: 50px;
						margin: 5px;
						@include breakpoint-medium {
							width: 70px;
							margin: 7px;
						}

						@include breakpoint-large {
							width: 100px;
							margin: 10px;
						}
						&:hover, &:focus {
							@include scale(1.2);
						}
					}
				}
			}
		}
		&#cv {
			background-color: $blue;
			color: $whiteish;
			
			.button {
				width: 150px;
				&:hover, &:focus {
					background-color: $whiteish;
					color: $blue;
				}
			}
		}
		&#contact {
			background-color: $blackish;
			color: $light-font-color;
			ul.social {
				margin: 0;
				padding: 0;
				text-align: center;
				li {
					display: inline-block;
					margin: {
						left: 3px;
						right: 3px;
					};
					@include breakpoint-medium {
						margin: {
							left: 5px;
							right: 5px;
						};
					}

					@include breakpoint-large {
						margin: {
							left: 8px;
							right: 8px;
						};
					}

					a {
						$social-size-default: 32px;
						display: block;
						margin: 0;
						overflow: hidden;
						width: $social-size-default;
						height: $social-size-default;
						background-repeat: no-repeat;
						background-size: cover;
						@include sprite-column(1, $social-size-default);
						@include hide-text;
						&:hover, &:focus{
							@include sprite-column(2, $social-size-default);
						}
						@include breakpoint-medium {
							$social-size-medium: 40px;
							width: $social-size-medium;
							height: $social-size-medium;
							@include sprite-column(1, $social-size-medium);
							&:hover, &:focus{
								@include sprite-column(2, $social-size-medium);
							}
						}

						@include breakpoint-large {
							$social-size-large: 55px;
							width: $social-size-large;
							height: $social-size-large;
							@include sprite-column(1, $social-size-large);
							&:hover, &:focus{
								@include sprite-column(2, $social-size-large);
							}
						}
					}
				}
			}
		}
	}
}
