extends ../_layouts/base

block title
  title= "CV - " + baseTitle

block stylesheets
  link(rel='stylesheet', href= baseUrl + 'styles/main-cv.css')

block content
  #paper
    #content
      header
        ul#contact
          li
            a(href='mailto:gustav.karlsson@gmail.com', target='_blank') gustav.karlsson@gmail.com
          li
            a(href='http://gustavkarlsson.se', target='_blank') http://gustavkarlsson.se
          li
            a(href='tel:+4917643636477') (+49) 0176-43636477
          li
            a(href='https://www.google.de/maps/place/Hinter+den+Obergärten+22,+60388+Frankfurt+am+Main', target='_blank')
              | Hinter den Obergärten 22
              br
              | 60388 Frankfurt am Main
              br
              | GERMANY
        img#photo(alt='Photo of Gustav Karlsson', src= baseImagesUrl + 'photo.jpg')
        #name-profession
          h1#name Gustav Karlsson
          p#profession Software Engineer

      section
        h1 Work Experience
        .section-content
          time Apr 2016 - Present
          h2 Software Engineer
          h3
            a(href='http://www.360t.com/', target='_blank') 360T Treasury Systems AG
            |  (Frankfurt)
          ul
            li Developing and maintaining a large number of small Java applications that interact with customer systems and API:s.
            li Architecting new solutions to large-scale problems.
            li Working with a wide range of data formats and protocols such as REST, SOAP, FIX, SFTP and email.
            li Frequent presenter at developer meetups.
            li Mentoring of working students and other newcomers.
            li Introduced company-wide "slack-like" communications platform affecting 200+ employees.

          time Oct 2015 - Mar 2016
          h2 Integration Consultant
          h3
            a(href='http://www.c4contexture.com/', target='_blank') C4 Contexture AB
            |  (Umeå)
          ul
            li Integrated a product information management system on customer systems.
            li Solved data modelling problems according to customer needs.

          time 2011 - 2015
          h2 Software Developer
          h3
            a(href='http://www.tieto.se', target='_blank') Tieto Sweden AB
            |  (Umeå)
          ul
            li Developed and maintened a Java based full-stack web application built on MySQL, JPA, JAX-WS, JAX-RS and Wicket.
            li Discussed requirements and goals with customer on a daily basis.
            li For one week, travelled abroad to train another development team in development on the application code base.
            li Introduced monthly sessions of lightning talks during office-hours.

      section
        h1 Education
        .section-content
          time 2006 - 2015
          h2 Bachelor's degree in computer science
          h3
            a(href='http://www.umu.se', target='_blank') Umeå University
            |  (Umeå)
          p
            | Studied computer science until 2011 when I took a study break to work.
            | Finished the studies with a thesis project in 2015.
          time 2002 - 2005
          h2 Upper Secondary School
          h3
            a(href='http://www.tannbergsskolan.nu', target='_blank') Tannbergsskolan
            |  (Lycksele)
          p
            | Technical Programme with focus on Informatics.

      section
        h1 Notable Skills
        .section-content
          h2 Languages
          p Java 8 | Kotlin | Ceylon | HTML5 | CSS3 | Javascript | C# | Python | JSON | XML | XSLT | SASS | LESS | Stylus | Bash
          h2 Frameworks and libraries
          p Android | Dropwizard | JPA | Hibernate | JAX-RS | JAX-WS | JAXB | JUnit | Mockito | Dagger 2 | Guice | Retrofit | Gson | Jackson | QuickFIX/J | Apache Camel | Apache Wicket | Swing | OSGi
          h2 Databases
          p MySQL | Couchbase | SQLite | Realm | Apache Derby | H2
          h2 Tools
          p IntelliJ IDEA | Eclipse | Git | Subversion | Docker | Gradle | Maven | Jenkins | Atlassian suite | Elastic stack
          h2 Software engineering
          p Agile | TDD | Design patterns | Event sourcing | CQRS | Dependency injection | Clean code | S.O.L.I.D. | Responsive web

      section
        h1 Talks
        .section-content
            p Kotlin for Java developers | Java 8 | Log analysis with the Elastic Stack | Test Driven Development

      section
        h1 Certifications
        .section-content
          p Oracle Certified Associate, Java SE 7 Programmer
