@require 'nib'
@require 'nib/reset'
@require 'nib/border'
@require 'nib/clearfix'
@require 'nib/vendor'

@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700|Open+Sans:300,400,700')

// Reset styling
global-reset()

// Breakpoints
$medium-breakpoint = 430px
$large-breakpoint = 900px
$huge-breakpoint = 1200px
$section-centering-width = 960px

breakpoint-medium()
  @media screen and (min-width: $medium-breakpoint)
    {block}
breakpoint-large()
  @media screen and (min-width: $large-breakpoint)
    {block}
breakpoint-huge()
  @media screen and (min-width: $huge-breakpoint)
    {block}

// Classes
.center
  margin-left: auto
  margin-right: auto

.button
  display: inline-block
  margin: 7px
  padding: 5px
  border-style: solid
  border-width: 3px
  &:hover, &:focus
    text-decoration: none
