@require 'base'

// General
header
  z-index: 10
  $header-ver-padding = 24px
  position: absolute
  width: 100%
  padding-top: $header-ver-padding
  padding-bottom: $header-ver-padding
  +breakpoint-medium()
    position: fixed
  +breakpoint-large()
    $header-hor-padding = 5%
    width: 100% - $header-hor-padding * 2
    padding-left: $header-hor-padding
    padding-right: $header-hor-padding
  #header-centering
    @extend .center
    clearfix()
    width: 100%
    max-width: $huge-breakpoint
  h1
    margin: inherit
    text-align: center
    +breakpoint-large()
      float: left
  nav
    margin-top: 10px
    text-align: center
    +breakpoint-large()
      margin-top: 2px
      float: right
    li
      +breakpoint-medium()
        display: inline-block
      a
        display: block
        padding: 7px 0 7px 0
section
  $section-vertical-padding-small = 100px
  $section-vertical-padding-first-small = 250px
  $section-vertical-padding-medium = 150px
  $section-vertical-padding-first-medium = 200px
  $section-vertical-padding-large = 200px
  $section-vertical-padding-first-large = 250px
  text-align: center
  padding-top: $section-vertical-padding-small
  padding-bottom: $section-vertical-padding-small
  &:first-of-type
    padding-top: $section-vertical-padding-first-small
  +breakpoint-medium()
    padding-top: $section-vertical-padding-medium
    padding-bottom: $section-vertical-padding-medium
    &:first-of-type
      padding-top: $section-vertical-padding-first-medium
  +breakpoint-large()
    padding-top: $section-vertical-padding-large
    padding-bottom: $section-vertical-padding-large
    &:first-of-type
      padding-top: $section-vertical-padding-first-large
  .section-centering
    @extend .center
    width: $section-centering-width
    max-width: 90%
#home
  padding-bottom: 0
  background-image: url(../images/index-bg.jpg)
  background-repeat: no-repeat
  background-position-x: center
  background-position-y: bottom
  background-size(cover)
  #photo
    $home-picture-size-default = 100px
    $home-picture-top-margin-default = 25px
    $border-width = 7px
    margin-bottom: (-($home-picture-size-default / 2) - $border-width)
    margin-top: 50px
    width: $home-picture-size-default
    height: $home-picture-size-default
    border-radius($home-picture-size-default / 2 + $border-width)
    border-width: $border-width
    border-style: solid
    +breakpoint-medium()
      $home-picture-size-medium = $home-picture-size-default * 1.5
      margin-top: 100px
      margin-bottom: -($home-picture-size-medium / 2) - $border-width
      width: $home-picture-size-medium
      height: $home-picture-size-medium
      border-radius($home-picture-size-medium / 2 + $border-width)
    +breakpoint-large()
      $home-picture-size-large = $home-picture-size-default * 2
      margin-top: 200px
      margin-bottom: -($home-picture-size-large / 2) - $border-width
      width: $home-picture-size-large
      height: $home-picture-size-large
      border-radius($home-picture-size-large / 2 + $border-width)
#coding
  #languages
    @extend .center
    a
      img
        height: auto
#contact
  ul.social
    li
      display: inline-block
