@require 'base'

// Fonts
$open-sans = "Open Sans", sans-serif
$source-sans-pro = "Source Sans Pro", sans-serif

body
  $base-font-size = 100%
  font-family: $open-sans
  font-size: $base-font-size
  +breakpoint-medium()
    font-size: $base-font-size * 1.2
  +breakpoint-large()
    font-size: $base-font-size * 1.4

p, h1, h2, h3, h4, h5
  line-height: 130%
  margin-top: 0.5em
  margin-bottom: 0.5em

header
  h1
    line-height: inherit
    font-family: $source-sans-pro
    font-weight: bold
    font-size: 28px
    +breakpoint-medium()
      font-size: 38px
  nav
    a
      text-decoration: none
      font-family: $source-sans-pro
      font-size: 20px
      +breakpoint-medium()
        font-size: 22px
section
  h1
    font-family: $source-sans-pro
    font-weight: 200
    font-size: 2.5em
    +breakpoint-medium()
      font-size: 3em
    +breakpoint-large()
      font-size: 3.5em
  a
    text-decoration: none
    &:hover, &:focus
      text-decoration: underline
