extends _layouts/base

include _modules/social/social
include _modules/language/language

block stylesheets
  link(rel='stylesheet', href= baseUrl + 'styles/main-home.css')

block content
  header
    #header-centering
      h1 GUSTAVKARLSSON.SE
      nav
        ul
          li
            a(href="#home") HOME
          li
            a(href="#coding") CODING
          li
            a(href="#cv") CV
          li
            a(href="#contact") CONTACT
            
  section#home
    .section-centering
      h1 Hi, I'm Gustav!
      p I'm a programmer and web designer based in Frankfurt, Germany. Scroll down to learn more.
      img#photo(src="#{baseImagesUrl}/photo.jpg", alt="Photo")
      
  section#coding
    .section-centering
      h1 Coding
      p I like putting 1's and 0's together to create amazing things, and I do so using a multitude of languages and techniques. Here are some of my favorites:
      table#languages
        tr
          td
            +language({
              href: "https://www.java.com/",
              title: "Java",
              imgSrc: baseImagesUrl + "/languages/java.png"
              })()
          td
            +language({
              href: "http://ceylon-lang.org/",
              title: "Ceylon",
              imgSrc: baseImagesUrl + "/languages/ceylon.png"
              })()
          td
            +language({
              href: "http://en.wikipedia.org/wiki/C_Sharp_(programming_language)",
              title: "C#",
              imgSrc: baseImagesUrl + "/languages/c-sharp.png"
              })()
          td
            +language({
              href: "https://www.dartlang.org/",
              title: "Dart",
              imgSrc: baseImagesUrl + "/languages/dart.png"
              })()
        tr
          td
            +language({
              href: "http://en.wikipedia.org/wiki/HTML5",
              title: "HTML5",
              imgSrc: baseImagesUrl + "/languages/html5.png"
              })()
          td
            +language({
              href: "http://en.wikipedia.org/wiki/Cascading_Style_Sheets",
              title: "CSS3",
              imgSrc: baseImagesUrl + "/languages/css3.png"
              })()
          td
            +language({
              href: "http://en.wikipedia.org/wiki/JavaScript",
              title: "JavaScript",
              imgSrc: baseImagesUrl + "/languages/javascript.png"
              })()
          td
            +language({
              href: "https://angularjs.org/",
              title: "AngularJS",
              imgSrc: baseImagesUrl + "/languages/angularjs.png"
              })()
              
  section#cv
    .section-centering
      h1 Curriculum Vitae
      p Check out my CV! There are two versions to choose from:
      p
        a.button(href="cv") WEB
        a.button(href="cv/gustavkarlsson-cv.pdf") PDF
        
  section#contact
    .section-centering
      h1 Contact me
      p If you want to know more, you can find me on any of the following services.
      table#social
        tr
          td
            +social({
              href: "mailto:gustav.karlsson@gmail.com",
              title: "Email: gustav.karlsson@gmail.com",
              icon: "envelope"
              })()
          td
            +social({
              href: "https://www.linkedin.com/profile/view?id=194331605",
              title: "LinkedIn",
              icon: "linkedin"
              })()
          td
            +social({
              href: "https://github.com/gustavkarlsson",
              title: "GitHub",
              icon: "github"
              })()
          td
            +social({
              href: "https://www.facebook.com/gustavkarlsson86",
              title: "Facebook",
              icon: "facebook-official"
              })()
        tr
          td
            +social({
              href: "https://twitter.com/gkarlsson86",
              title: "Twitter",
              icon: "twitter"
              })()
          td
            +social({
              href: "skype:gustavkarlsson86?userinfo",
              title: "Skype: gustavkarlsson86",
              icon: "skype"
              })()
          td
            +social({
              href: "http://www.lastfm.se/user/MrMadMan86",
              title: "Last.fm",
              icon: "lastfm"
              })()
          td
            +social({
              href: "tel:+4917643636477",
              title: "Phone: (+49) 0176-43636477",
              icon: "phone"
              })()

block scripts
  script(src= baseUrl + 'scripts/main.js')
